@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@600&display=swap');
@import "tailwindcss";



body {
  font-family: 'Inter', system-ui, sans-serif;
  @apply bg-gray-50 text-gray-800;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  @apply text-blue-950;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin 1.5s linear infinite;
}

